.sec__footer {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 230px;
}

.sec__img {
    height: 30px;
    width: 200px;

}



