.sec__footer {
    background-color: $colorNegroPrincipal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-height: 230px;
}

.sec__img {
    height: 30px;
    width: 200px;

}


.imgLogo {
    height: 50px;
    width: 370px;
    }


.footerTitulo {
    font-size: 25px;
    color: rgb(255, 255, 255);
    justify-self: center;
}

.texto {
    color: rgb(255, 255, 255);;
    font-size: 14px;
}

