
.portada {
    background-color: rgb(35, 35, 80);
    min-height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(../imagenes/portada-13.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
 

    
&__slogan {
    color: white;
    margin-left: 3rem;
    font-size: 25px;
}


    
}
