
.section2 {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 500px 500px 600px;

    justify-items: center;
    gap: 10px;
    
    grid-template-areas:
        "ele1"
        "ele2"
        "ele3"
        "ele4"
        "ele5"    
    ;
}

.posicion1 {
    grid-area: ele1;
}

.posicion2 {
    grid-area: ele2;
}

.color {
    color: black;
}

.posicion3 {
    grid-area: ele3;
}

.carousel-item {
    height: 600px;
}

.imgLogo {
    height: 50px;
    width: 370px;
    }


.footerTitulo {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.texto {
    color: rgb(255, 255, 255);;
    font-size: 14px;
}